---
title: Subscribed
layout: layouts/base.ejs
---

<div class="py-12 sm:py-24 bg-gray-100">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-primary-400 to-primary-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 sm:text-lg sm:leading-7">
            <h2 class="font-bold">You're subscribed!</h2>
            <p>You've subscribed to Archboard's newsletter. You'll get the latest announcements and resources to help you be a rockstar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
