---
layout: layouts/base.ejs
title: Tidal PTC
description: A PowerSchool integration to help you manage your parent-teacher conferences.
---

<div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
  This is for tidal ptc
</div>
