---
const year = (new Date()).getFullYear()
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <title>Archboard</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#3b82f6">
  <meta name="description" content="Archboard builds open-source apps to help schools do more with less." />
  <meta property="og:title" content="Archboard" />
  <meta property="og:description" content="Archboard builds open-source apps to help schools do more with less." />
  <meta property="og:locale" content="en" />
  <meta property="og:site_name" content="Archboard" />
  <meta property="og:image" content="https://www.archboard.io/assets/images/share.png" />
  <meta property="og:image:alt" content="Archboard" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Archboard builds open-source apps to help schools do more with less." />
  <meta name="twitter:title" content="Archboard" />
  <meta name="twitter:site" content="https://www.archboard.io" />
  <meta name="twitter:image" content="https://www.archboard.io/assets/images/share.png" />
  <meta name="twitter:creator" content="@ArchboardLLC"/>
  <meta property="og:locale" content="en" />
  <meta property="og:site_name" content="Archboard" />
</head>
<body class="font-sans antialiased dark:text-gray-50 bg-white dark:bg-black bg-[url(/assets/images/pattern-light.png)] dark:bg-[url(/assets/images/pattern.png)] bg-[length:500px_500px] bg-repeat">
  <div class="pt-8">
    <img src="/assets/images/full-color.svg" alt="Archboard" class="block mx-auto w-auto h-10">
  </div>

  <!-- Hero -->
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-32">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">Unleash the power of your SIS</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">Archboard builds apps to extend your student information system affordably and transparently. Empower your school or district to do more with less.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="//github.com/archboard" class="inline-flex justify-center items-center space-x-2 rounded-md bg-primary-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
            </svg>
            <span>View apps on GitHub</span>
          </a>
          <!-- <a href="#" class="text-sm font-semibold leading-6">Learn more <span aria-hidden="true">→</span></a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Content section -->
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-4">
          <div class="relative overflow-hidden rounded-3xl bg-blue-900 dark:bg-gray-100 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
            <div class="absolute inset-0 bg-blue-900 dark:bg-blue-900 mix-blend-multiply"></div>
            <div class="absolute left-1/2 top-1/2 -ml-16 -translate-x-1/2 -translate-y-1/2 transform-gpu blur-3xl" aria-hidden="true">
              <!-- <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-40" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div> -->
            </div>
            <figure class="relative isolate">
              <svg viewBox="0 0 162 128" fill="none" aria-hidden="true" class="absolute -left-2 -top-4 -z-10 h-32 stroke-white/20">
                <path id="0ef284b8-28c2-426e-9442-8655d393522e" d="M65.5697 118.507L65.8918 118.89C68.9503 116.314 71.367 113.253 73.1386 109.71C74.9162 106.155 75.8027 102.28 75.8027 98.0919C75.8027 94.237 75.16 90.6155 73.8708 87.2314C72.5851 83.8565 70.8137 80.9533 68.553 78.5292C66.4529 76.1079 63.9476 74.2482 61.0407 72.9536C58.2795 71.4949 55.276 70.767 52.0386 70.767C48.9935 70.767 46.4686 71.1668 44.4872 71.9924L44.4799 71.9955L44.4726 71.9988C42.7101 72.7999 41.1035 73.6831 39.6544 74.6492C38.2407 75.5916 36.8279 76.455 35.4159 77.2394L35.4047 77.2457L35.3938 77.2525C34.2318 77.9787 32.6713 78.3634 30.6736 78.3634C29.0405 78.3634 27.5131 77.2868 26.1274 74.8257C24.7483 72.2185 24.0519 69.2166 24.0519 65.8071C24.0519 60.0311 25.3782 54.4081 28.0373 48.9335C30.703 43.4454 34.3114 38.345 38.8667 33.6325C43.5812 28.761 49.0045 24.5159 55.1389 20.8979C60.1667 18.0071 65.4966 15.6179 71.1291 13.7305C73.8626 12.8145 75.8027 10.2968 75.8027 7.38572C75.8027 3.6497 72.6341 0.62247 68.8814 1.1527C61.1635 2.2432 53.7398 4.41426 46.6119 7.66522C37.5369 11.6459 29.5729 17.0612 22.7236 23.9105C16.0322 30.6019 10.618 38.4859 6.47981 47.558L6.47976 47.558L6.47682 47.5647C2.4901 56.6544 0.5 66.6148 0.5 77.4391C0.5 84.2996 1.61702 90.7679 3.85425 96.8404L3.8558 96.8445C6.08991 102.749 9.12394 108.02 12.959 112.654L12.959 112.654L12.9646 112.661C16.8027 117.138 21.2829 120.739 26.4034 123.459L26.4033 123.459L26.4144 123.465C31.5505 126.033 37.0873 127.316 43.0178 127.316C47.5035 127.316 51.6783 126.595 55.5376 125.148L55.5376 125.148L55.5477 125.144C59.5516 123.542 63.0052 121.456 65.9019 118.881L65.5697 118.507Z" />
                <use href="#0ef284b8-28c2-426e-9442-8655d393522e" x="86" />
              </svg>
              <img src="/assets/images/full-white.svg" alt="Archboard" class="h-12 w-auto">
              <blockquote class="mt-6 text-xl font-semibold leading-8 text-white">
                <p>“I started Archboard because I saw bad trend in software for schools. Opaque pricing, unnecessary contracts and poor implementation are just a few of the frustrating aspects I'm setting out to change.”</p>
              </blockquote>
              <figcaption class="mt-6 text-sm leading-6 text-gray-300"><strong class="font-semibold text-white">Grant Holle,</strong> Founder of Archboard</figcaption>
            </figure>
          </div>
        </div>
        <div>
          <div class="text-base leading-7 text-gray-700 dark:text-gray-200 lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-primary-500">About Archboard</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">On a mission to empower schools</h1>
            <div class="max-w-xl">
              <p class="mt-6">Archboard is a software company that builds open-source web apps that extend the use of PowerSchool. We believe in making technology accessible and affordable for all schools, and our transparent pricing models make it easy for schools to choose the apps they need without worrying about hidden fees. Our open-source apps are available for anyone to use and modify, providing a cost-effective and customizable solution for schools.</p>
              <p class="mt-8">Archboard's flagship app helps manage parent-teacher conferences. It's a feature-rich app that has been in production for three years and has helped school admins configure conferences faster, while parents can book more easily and simply.</p>
              <p class="mt-8">It's time to reintroduce modernity to software for educational institutions. Join us on our journey to redefine the status quo.</p>
            </div>
          </div>
          <dl class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-4">
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Founded</dt>
              <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight">2021</dd>
            </div>
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Apps</dt>
              <dd class="mt-2 text-3xl font-bold leading-10 tracking-tight">2</dd>
            </div>
          </dl>
          <div class="mt-10 flex">
            <a href="//github.com/archboard" class="text-base font-semibold leading-7 text-primary-600 dark:text-primary-400">View our apps on GitHub <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
      <!-- <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
        <div class="pb-6">
          <a href="//github.com/archboard" class="text-sm leading-6 text-gray-600 dark:text-gray-300 hover dark:hover:text-gray-100">GitHub</a>
        </div>
      </nav> -->
      <p class="mt-10 text-center text-xs leading-5 text-gray-500 dark:text-gray-400">&copy; {year} Archboard, LLC. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>
