---
title: Contact
layout: layouts/base.ejs
---

<div class="py-12 sm:py-24 bg-gradient-to-br from-pink-400 to-primary-500">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl">
      <div class="max-w-md mx-auto">
        <div class="mb-6 text-base leading-6 space-y-4 sm:text-lg sm:leading-7">
          <h2 class="font-bold text-xl">What's on your mind?</h2>
        </div>

        <form name="contact" action="/thanks" method="post" netlify id="contact-form">
          <div>
            <label for="purpose" class="text-gray-600">Purpose</label>
            <select id="purpose" name="purpose" type="email" class="block mt-2 w-full" required autofocus>
              <option value="Question or Comment" selected>Question or comment</option>
              <option value="App Idea">App idea</option>
              <option value="Support">Support</option>
              <option value="Something else">Something else</option>
            </select>
          </div>
          <div class="mt-6">
            <label for="email" class="text-gray-600">Email</label>
            <input id="email" name="email" type="email" class="block mt-2 w-full" required>
          </div>
          <div class="mt-6">
            <label for="comment" class="text-gray-600">Comment or question</label>
            <textarea name="comment" id="comment" class="block mt-2 w-full" rows="4" required></textarea>
          </div>
          <div class="mt-6">
            <button type="submit" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">
              <span>Send it</span> <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function handleSubmit(e) {
  console.log(document.getElementById('comment').value)
  if (!document.getElementById('comment').value.includes(' ')) {
    e.preventDefault()
    window.location.reload()
  }
}

document.getElementById('contact-form').addEventListener('submit', handleSubmit)
</script>
